<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Review</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="container">
<header th:replace="fragments :: header"></header>
<form method="post" action="/review/create">
    <div class="form-group">
        <label>Restaurant Name
            <input th:field="${review.restaurantName}" class="form-control">
        </label>
        <p class="error" th:errors="${review.restaurantName}"></p>
    </div>
    <div class="form-group">
        <label>Category
            <select th:field="*{review.rating}" class="form-control">
                <option th:value="0" disabled>### Select Rating ###</option>
                <option th:value="*">*</option>
                <option th:value="**">**</option>
                <option th:value="***">***</option>
                <option th:value="****">****</option>
                <option th:value="*****">*****</option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create Review" class="btn btn-success">
    </div>
</form>

</body>
</html>